<div class="bg-primary py-2">

        <div style="text-align: center; color: white; font-size: 12px">
            Projet Eni Symphony - 2021 <br>
            Copyright : Sebastian BRITO - Benoit VANDESTICK - Sabine DUNET<br>
            Crédit photo : Freepik.com - Aucun animal n'a été maltraité pendant la création d'un profil !
        </div>

</div>